{{- $isTaxonomy := .IsTaxonomy -}}

<section class="post-list">
    {{ range .Pages.ByDate.Reverse }}
    <article class="post-row">
        <a href="{{ .RelPermalink }}">
            <h3 class="post-title">{{ .Title }}</h3>
            <span class="post-rule"></span>

            {{ if $isTaxonomy }} {{ $count := len .Pages }}
            <span class="post-count">
                {{ $count }} {{ if eq $count 1 }}post{{ else }}posts{{ end }}
            </span>
            {{ else }}
            <time class="post-date"> {{ .Date.Format "Jan 2, 2006" }} </time>
            {{ end }}
        </a>
    </article>
    {{ end }}
</section>
